<!DOCTYPE html>
<html>
<head>
<title>Listado  de Prestamo</title>
</head>
<body>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Id Prestamo</th>
						<th>Id Propuesta</th>
						<th>Id Cliente</th>
						<th>Monto</th>
						<th>Motivo</th>
						<th>Estado</th>
					</tr>
				</thead>
				<tbody>
				    <tr th:each="prestamo : ${prestamos}">
				    	<td th:text="${prestamo.idPrestamo}"></td>
						<td th:text="${prestamo.idPropuesta}"></td>
						<td th:text="${prestamo.idCliente}"></td>
						<td th:text="${prestamo.monto}"></td>
						<td th:text="${prestamo.motivo}"></td>
						<td th:text="${prestamo.estado}"></td>
				    </tr>
				</tbody>
			</table>
</body>
</html>