<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Listado de Solicitudes de Prestamo</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
			<table class="table-striped" width="80%" height="100%" align="center">
				<thead>
					<tr>
						<th scope="col">Id Solicitud</th>
						<th scope="col">Id Solicitante</th>
						<th scope="col">Motivo</th>
						<th scope="col">Monto</th>
						<th scope="col">Plazo</th>
						<th scope="col">Activo</th>
						<th scope="col">Pasivo</th>
						<th scope="col">Patrimonio</th>
						<th scope="col">Costo</th>
						<th scope="col">Venta Total</th>
						<th scope="col">Gastos Administrativos</th>
						<th scope="col">Gastos de Ventas</th>
						<th scope="col">Margen de Utilidad</th>
					</tr>
				</thead>
				<tbody>
				    <tr scope="row" th:each="solicitud : ${solicitudes}">
				    	<td th:text="${solicitud.idSolicitud}"></td>
						<td th:text="${solicitud.idSolicitante}"></td>
						<td th:text="${solicitud.motivo}"></td>
						<td th:text="${solicitud.monto}"></td>
						<td th:text="${solicitud.plazo}"></td>
						<td th:text="${solicitud.activo}"></td>
						<td th:text="${solicitud.pasivo}"></td>
						<td th:text="${solicitud.patrimonio}"></td>
						<td th:text="${solicitud.costo}"></td>
						<td th:text="${solicitud.ventaTotal}"></td>
						<td th:text="${solicitud.gastosAdministrativos}"></td>
						<td th:text="${solicitud.gastosVentas}"></td>
						<td th:text="${solicitud.margenUtilidad}"></td>
				        <td><a th:href="@{/registrarPropuesta/{idSolicitud}/{monto}/{plazo} (idSolicitud=${solicitud.idSolicitud}, monto=${solicitud.monto},plazo=${solicitud.plazo})}">Generar Propuesta</a></td>	
						<td><a th:href="@{/mostrarSolicitud/{idSolicitud}/{activo}/{pasivo}/{patrimonio}/{costo}/{ventaTotal}/{gastosAdministrativos}/{gastosVentas}/{margenUtilidad}
                		 (idSolicitud=${solicitud.idSolicitud}, activo=${solicitud.activo},pasivo=${solicitud.pasivo},patrimonio=${solicitud.patrimonio},costo=${solicitud.costo},ventaTotal=${solicitud.ventaTotal},gastosAdministrativos=${solicitud.gastosAdministrativos},
                		 gastosVentas=${solicitud.gastosVentas},margenUtilidad=${solicitud.margenUtilidad})}">Ver Solicitud</a></td>
				    </tr>
				</tbody>
			</table>
</body>
</html>