<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Listado de Solicitudes de Prestamo</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
			<nav class="navbar navbar-default">
			<ul class="nav nav-pills">
			  <li class="nav-item">
			    <a class="nav-link" href="/listadoSolicitudes">Listado de Solicitudes</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="listadoParaRegistrarPrestamo">Registrar Préstamos</a>
			  </li>
			</ul>
			</nav>
<section id="loginform" class="outer-wrapper">
<div class="container">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Id Solicitud</th>
						<th>Solicitante</th>
						<th>Motivo</th>
						<th>Monto</th>
						<th>Plazo</th>
						<th>Activo</th>
						<th>Pasivo</th>
						<th>Patrimonio</th>
						<th>Costo</th>
						<th>Venta Total</th>
						<th>Gastos Administrativos</th>
						<th>Gastos de Ventas</th>
						<th>Margen de Utilidad</th>
					</tr>
				</thead>
				<tbody>
				    <tr scope="row" th:each="solicitud : ${solicitudes}">
				    	<td th:text="${solicitud.idSolicitud}"></td>
						<td th:text="${solicitud.nombre}"></td>
						<td th:text="${solicitud.motivo}"></td>
						<td th:text="${solicitud.monto}"></td>
						<td th:text="${solicitud.plazo}"></td>
						<td th:text="${solicitud.activo}"></td>
						<td th:text="${solicitud.pasivo}"></td>
						<td th:text="${solicitud.patrimonio}"></td>
						<td th:text="${solicitud.costo}"></td>
						<td th:text="${solicitud.ventaTotal}"></td>
						<td th:text="${solicitud.gastosAdministrativos}"></td>
						<td th:text="${solicitud.gastosVentas}"></td>
						<td th:text="${solicitud.margenUtilidad}"></td>
				        <td><a th:href="@{/registrarPropuesta/{idSolicitud}/{monto}/{plazo} (idSolicitud=${solicitud.idSolicitud}, monto=${solicitud.monto},plazo=${solicitud.plazo})}">Generar Propuesta</a></td>	
						<td><a th:href="@{/mostrarSolicitud/{idSolicitud}/{activo}/{pasivo}/{patrimonio}/{costo}/{ventaTotal}/{gastosAdministrativos}/{gastosVentas}/{margenUtilidad}/{pdf}
                		 (idSolicitud=${solicitud.idSolicitud}, activo=${solicitud.activo},pasivo=${solicitud.pasivo},patrimonio=${solicitud.patrimonio},costo=${solicitud.costo},ventaTotal=${solicitud.ventaTotal},gastosAdministrativos=${solicitud.gastosAdministrativos},
                		 gastosVentas=${solicitud.gastosVentas},margenUtilidad=${solicitud.margenUtilidad},pdf=${solicitud.pdf})}">Ver Solicitud</a></td>
				    </tr>
				</tbody>
			</table>
	</div>
</section>
</body>
</html>