<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Optional theme 
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
<section id="loginform" class="outer-wrapper">

  <div class="inner-wrapper">
<div class="container">
      <h2 class="text-center">Login</h2>
   <form  method="post" enctype="multipart/form-data">
 	<fieldset>
            	   <div class="form-group">
	                    <label for="correo">Correo</label>
	                     <input id="correo" name="correo"  type="text" class="form-control"/>
                	</div>
            		<div class="form-group">
	                    <label for="contrasenia">Contraseña</label>
	                    <input id="contrasenia" name="contrasenia" type="text" class="form-control"/>
                	</div>
                	<button type="submit" class="btn btn-primary" >Ingresar</button>
                </fieldset>
            </form>

</div>
</div>

</section>