<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Solicitud Prestamo</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
			<form  method="post" enctype="multipart/form-data" class="form-horizontal">
            	<fieldset>
            <p>Según la data histórica es muy probable que el cliente pueda llegar a ser:<p>
			<p th:text="${arbol}"></p> <p>Pagador</p>
			<p>Ratio Activo / Pasivo<p>
			<p th:text="${ratios.ratio1}"></p>
			<p>Ratio Pasivo / Patrimonio<p>
			<p th:text="${ratios.ratio2}"></p>
			<p>Ratio Costo / Venta Total<p>
			<p th:text="${ratios.ratio3}"></p>
			<p>Ratio Gastos Administrativos / Gsatos de Ventas<p>
			<p th:text="${ratios.ratio4}"></p>
			<p>Ratio Gastos de Venta / Venta Total<p>
			<p th:text="${ratios.ratio5}"></p>
			<p>Ratio Margen de Utilidad / Venta Total<p>
			<p th:text="${ratios.ratio6}"></p>
                </fieldset>
            </form>

</body>
</html>