<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="jumbotron text-xs-center">
  <h1 class="display-3" text-align= "center">Muchas Gracias!</h1>
  <p class="lead"><strong>Se ha registrado la solicitud de prestamos de manera exitosa</strong>. Nos estaremos comunicando con usted tan pronto podamos para indicarle el estado de su solicitud</p>
  <hr>
  <p>
   Porfavor, no dude en contactarnos <a href="https://www.cp.com.pe/">Contacto</a>
  </p>
</div>