<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Registrar Solicitud Prestamo</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<section id="loginform" class="outer-wrapper">
	  <div class="inner-wrapper">
	<div class="container">
	      <h2 class="text-center">Registrar Solicitud de  Prestamo</h2>
	   <form  method="post" enctype="multipart/form-data">
	 	<fieldset>
             	<div class="form-group">
		            <label for="motivo">Motivo</label>      
		             <select id = "motivo" class="form-control" name = "motivo">
						   <option value = "CapitalDeTrabajo">Capital de Trabajo</option>
						   <option value = "CompraDeuda">Compra de Deuda</option>
						   <option value = "CreditoVehicular">Credito Vehicular</option>
						   <option value = "CompraLocal">Compra de Local</option>
						   <option value = "CreditoHipotecario">Credito Hipotecario</option>
						   <option value = "ObligationesCortoPlazo">Obligaciones a Corto Plazo</option>
						   <option value = "CampañaEscolar">Campaña Escolar</option>
						   <option value = "ReposiciónStock">Reposición de Stock</option>
					</select>
	             </div>
	             <div class="form-group">
		              <label for="monto">Monto</label>
		              <input id="monto"  type="number" class="form-control" name="monto"/>
	              </div>
	              <div class="form-group">
		              <label for="plazo">Plazo</label>
		             <select id = "plazo" class="form-control" name = "plazo">
						   <option value = "6">6 Meses</option>
						   <option value = "12">12 Meses</option>
						   <option value = "18">18 Meses</option>
						   <option value = "36">36 Meses</option>
						   <option value = "48">48 Meses</option>
					</select>
	              </div>
	              <div class="form-group">
		               <label for="activo">Activo</label>
		               <input id="activo"  type="number" class="form-control" name="activo"/>
	              </div>
	              <div class="form-group">
		                <label for="pasivo">Pasivo</label>
		                <input id="pasivo"  type="number" class="form-control" name="pasivo"/>
	               </div>
	               <div class="form-group">
		                 <label for="patrimonio">Patrimonio</label>
		                 <input id="patrimonio"  type="number" class="form-control" name="patrimonio"/>
	               </div>
	               <div class="form-group">
		                 <label for="costo">Costo</label>
		                 <input id="costo"  type="number" class="form-control" name="costo"/>
	              	</div>
	                <div class="form-group">
		                 <label for="ventaTotal">Venta Total</label>
		                 <input id="ventaTotal"  type="number" class="form-control" name="ventaTotal"/>
	                </div>
	                <div class="form-group">
		                <label for="gastosAdministrativos">Gastos Administrativos</label>
		                <input id="gastosAdministrativos"  type="number" class="form-control" name="gastosAdm"/>
	                </div>
	                <div class="form-group">
		                <label for="gastosVentas">Gastos de Ventas</label>
		                <input id="gastosVentas"  type="number" class="form-control" name="gastosVent"/>
	                </div>
	                <div class="form-group">
		                 <label for="margenUtilidad">Margen de Utilidad</label>
		                 <input  id="margenUtilidad"  type="number" class="form-control" name="margenUti"/>
	                </div>
	                <div class="form-group">
	                	        <tr>
	         				   <td><form:label path="file">Adjuntar PDF</form:label></td>
	           					 <td><input type="file" name="file" /></td>
	       						 </tr>
	                	</div>
	                			<button type="submit" class="btn btn-primary" name="button">Registrar</button>
	                </fieldset>
	            </form>
	
	</div>
	</div>
	</section>
</body>
</html>