<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Registrar Prestamo</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
</head>
<body>
			<form  method="post" enctype="multipart/form-data" class="form-horizontal">
            	<fieldset>
            	   <div class="form-group">
	                    <label class="col-lg-3 control-label">id Cliente</label>
	                    <div class="col-lg-9">
	                    	<input type="text" class="form-control" name="idSolicitante"/>
	                    </div>
                	</div>
                	<div class="form-group">
	                    <label class="col-lg-3 control-label">id Propuesta</label>
	                    <div class="col-lg-9">
	                    	<input type="text" class="form-control" name="idSolicitante"/>
	                    </div>
                	</div>
                	                	<div class="form-group">
	                    <label class="col-lg-3 control-label">Monto</label>
	                    <div class="col-lg-9">
	                    	<input type="text" class="form-control" name="monto"/>
	                    </div>
                	</div>
            		<div class="form-group">
	                    <label class="col-lg-3 control-label">Motivo</label>
	                    <div class="col-lg-9">
	                    	<input type="text" class="form-control" name="motivo"/>
	                    </div>
                	</div>
            		<div class="form-group">
                		<div class="col-lg-12 col-lg-offset-3">
                			<button type="submit" class="btn btn-primary" name="button">Registrar</button>
                		</div>
                	</div>
                </fieldset>
            </form>
</body>
</html>